/* переменные css */

:root {
  --button-hover-color: #2196f3;
  --title-nav-filter-color: #212121;
  --text-link-color: #757575;
  --dark-bg-color: #2f303a;
  --portfolio-bg-filter-color: #f5f4fa;
  --hover-focus-color: #ffffff;
  --title-footer-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--title-nav-filter-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* styles header */

.container {
  width: 1230px;
}

.header .logo {
  display: inline;
  text-decoration: none;
  padding: 24px 0 25px 15px;
}

.logo-text-one {
  color: var(--button-hover-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-text-two {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-text-two:hover,
.logo-text-two:hover {
  color: var(--button-hover-color);
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-left: 93px;
}

.nav-item {
  padding: 0 50px;
}

.nav-items .link {
  color: var(--title-nav-filter-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-items .link:hover,
.nav-items .link:focus {
  color: var(--button-hover-color);
}

.nav-items .link.current {
  color: var(--button-hover-color);
}

.auth-nav {
  list-style: none;
}

.auth-nav .contact {
  color: var(--text-link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--button-hover-color);
}

/* section main */
.main {
  background-color: var(--dark-bg-color);
  text-align: center;
  padding-bottom: 200px;
}

.main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding: 200px 260px 0;
}

.main .button {
  background-color: var(--button-hover-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.main .button:hover,
.main .button:focus {
  background-color: #188ce8;
  color: var(--hover-focus-color);
}

/* sectiom about */

.about-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 94px 0;
  list-style: none;
}

.about-item {
  padding: 0 15px;
}

.about-title {
  color: var(--title-nav-filter-color);
  line-height: 1.14;
  text-transform: uppercase;
}

.about-definition {
  color: var(--text-color);
  line-height: 1.7;
}

/* sectiom work */

.work {
  padding-bottom: 94px;
}

.work-title {
  color: var(--title-nav-filter-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.work-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  list-style: none;
}

/* sectiom team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--title-nav-filter-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding: 94px 0 50px 0;
}

.team-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  padding-bottom: 94px;
  list-style: none;
  text-align: center;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-photo {
  padding-bottom: 30px;
}

.team-collaborator {
  color: var(--title-nav-filter-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 10px;
}

.team-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
}

/* sectiom footer */

.footer {
  background-color: var(--dark-bg-color);
  padding: 60px 0;
}

.footer .logo {
  display: inline-block;
  text-decoration: none;
  padding: 0 0 20px 15px;
}

.footer .logo-text-two {
  color: var(--title-footer-color);
}

.address-items {
  list-style: none;
}

.address-item {
  padding: 0 0 9px 15px;
}

.address-items .map {
  color: var(--title-footer-color);
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}

.address-items .contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}

/* Page portfolio */

/*  filter-menu */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.filter-list {
  list-style: none;
}

.filter-item {
  background: var(--portfolio-bg-filter-color);
  color: var(--title-nav-filter-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  margin: 5px;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;
}

.filter-item:hover,
.filter-item:focus {
  background-color: var(--button-hover-color);
  color: var(--hover-focus-color);
  border-radius: 5px;
}

/* project */

.projects-list {
  list-style: none;
}

.project-title {
  color: var(--title-nav-filter-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}
